.noscreen{
    display: none;
}
#wrap{
    padding-top:10px;
}

.content .wrapContent{
    padding: 0;
}

.content h2{
    margin: 32px 0 5px 0;
    margin: 32px 0 5px 0;
    font-size: 22px;
    line-height: 26px;
    font-weight: normal;
}
.content h3{
    margin: 5px 0;
    font-size: 18px;
    line-height: 22px;
    font-weight: normal;
}
.content .aboutSeo .thesis{
    margin-top: 10px;
    background: #f2f2f2;
    padding: 16px;
    border-radius: 10px;
    font-size: 18px;
    line-height: 1.4em;
    font-style: italic;
}
.content .aboutSeo P,
.content .aboutResults li{
    font-size: 16px;
    line-height:1.4em;
    padding: 0 0 .75em 0;
}
.content .aboutResults li{
    padding-bottom: .25em
}
.content UL.dashed{
  padding-bottom: 0.75em;
}
.content UL.dashed LI{
  list-style-type: none;
  behavior: expression( !this.before ? this.before = this.innerHTML = '&mdash;&nbsp;' + this.innerHTML : '' );
}
.content UL.dashed LI:before { content: '\2014\a0'; }

/*Methods*/
.content .methodBlockList{
    margin-top: 20px;
    clear: both;
}
.content .methodBlockList:after{
    content: '';
    display: block;
    clear: both;
    height: 1px;
    line-height: 1px;
}
.content .methodBlockList h2{
    padding-bottom: 5px;
}
.content .methodBlockList .methodBlock{
    margin-right: 20px;
    float: left;
    width: 160px;
}

.content .methodBlock .fa:before{
    font-size: 48px;
    width: 60px;
    display: inline-block;
    text-align: center;
}

.content .methodBlock .fa {
    background: #fafafa;
    padding: 44px 40px;
    border-radius: 100px;
    color: #0066FF;
    border: 1px solid #fff;
    box-shadow: 0px 0 10px rgba(0,0,0, 0.5);
}
.content .methodBlockList .methodBlock:last-of-type{
    margin: 0;
}

.content .methodBlockList .methodBlock img{
    width: 160px;
    height: 160px;
}


/*Slider*/
.content .headSlider{
    clear: both;
    overflow: hidden;
    margin: 32px 0 5px;
}

.content .headSlider H2{
    margin:0;
    float: left;
    line-height: 36px;
}
.content .headSlider .controls{
    float: right;
}

.content .headSlider  .controls div{
    margin-left: 10px;
    font-size: 36px;
    color: #06F;
    text-decoration: none;
    cursor: pointer;
}

.content .headSlider .controls div:hover{
    color: #990000;
}


.content .sliderWrapper{
    margin: 0px 0 25px 0;
    width: 700px;
}

.content .sliderWrapper .slider{
    display: inline-block;
    overflow: hidden;
    width: 700px;
    float: left;
}

.content .sliderWrapper .slider p, .content .sliderWrapper .slider a{
    font-size:16px;
    line-height: 20px;
}

.content .sliderWrapper .slider p:first-of-type{
    margin: 5px 0;
}

.content .clientInfo{
    width: 330px;
    padding-right: 20px;
    overflow: hidden;
    float:left;
}

.content .clientPromoInfo{
    height: 70px;
    margin: 10px 0 ;
}

.content .clientInfo .imgWrapper{
    height: 80px;
}
.content .clientInfo .clientLogo{
    max-width: 330px;
    max-height: 100%;
    border: 1px solid #ccc;
}

.logosList{
    text-align:center;
    background: #f2f2f2;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.logosList a.logoLink {
    text-decoration: none;
    margin: 5px 0;
    display: inline-block;
    background: #fff;
}

.logosList img{
    height: 60px;
    display: inline-block;
    border: 1px solid #ccc;
    height: 60px;
}




/*Tariflist*/
.content .tariffList{
    clear: both;
    margin-top: 20px;
}
.content .tariffList table{
    border: 0;
    padding: 0;
    margin: 0;
    border-collapse: collapse;
}
.content .tariffList table thead TH{
    border-bottom: 1px solid #ccc;
    font-size: 18px;
    padding: 0 10px 6px 10px;
}
.content .tariffList table tbody TH{
    padding: 10px 10px 10px 0;
    border-bottom: 1px solid #ccc;
}
.content .tariffList table tbody TD{
    padding: 0 10px 10px;
    min-width: 130px;
    border-bottom: 1px solid #ccc;
}
.content .tariffList table tbody .hassubrow TH,
.content .tariffList table tbody .hassubrow TD{
    border-bottom: 0 none;
}
.content .tariffList table tbody .fa{
    color:#ff9c43;
    font-size: 24px;
    position: relative;
    bottom:-.25em;
    text-shadow: 1px 2px 3px rgba(0,0,0, 0.3);
}
.content .tariffList table tbody .fa-minus{
    color:#ccc;
    text-shadow: none;
}
.content .tariffList table tbody tr.subrow TD{
    font-size: 0.8em;
    color:#666;
    padding: 0 10px 12px;
}
.content .tariffList table tfoot td{
    border-top:1px solid #ccc;
    padding:10px 0 0 0; 
}
.content .tariffList table tfoot td .price-tag-top{
    color:#ffffff;
    background: #fd5719;
    padding: 10px;
    border-radius: 2px;
    display: inline-block;
    position: relative;
    *display:inline;
    zoom:1;
    
}
.content .tariffList table tfoot td .price-tag-top:after {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(253, 87, 25, 0);
	border-bottom-color: #fd5719;
	border-width: 5px;
	margin-left: -5px;
}
@media (min-width: 1200px){
    .content .tariffList{
        position: relative;
    }
    .content .tariffList .hassubrow{
        border-bottom: 1px solid #ccc;
    }
    .content .tariffList .subrow,
    .content .tariffList .subrow th,
    .content .tariffList .subrow td{
        height:0px;
        padding: 0;
        overflow: hidden;
        display: block;
    }
    .content .tariffList .subrow .note{
        position:absolute;
        top:60px;
        right:-120px;
        width:100px;
        font-size: 11px;
        line-height: 1.2em;
    }
}

/*Table*/
table{
    
}
th{
    text-align: left;
    font-weight: normal;
        
}